@font-face {
    font-family: 'Archangelsk';
    src: url('../fonts/ofont.ru_Archangelsk.ttf');
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
p {}
.header-block__menu {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}
.header-menu__list {
    list-style: none;
    display: flex;
    gap: 40px;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.header {
    background-image: url('../images/background-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-position: center;
}
.header-block__info {
    max-width: 624px;
    height: 369px;
    background-color: #F8F200;
    clip-path: polygon(0% 100%, 0% 49px, 49px 0%, 100% 0%, 100% calc(100% - 49px), calc(100% - 49px) 100%);
     margin-top: auto;
     align-self: flex-end;
}
.header-block {    
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header-block__text {
    font-size: 62px;
    line-height: 102%;
    font-weight: 400;
    font-family: 'Archangelsk', sans-serif;
    padding-bottom: 25px;
}
.header-block__button {
    line-height: 167%;
    background-color: black;
    font-size: 24px;
    color: #F8F200;
    padding: 19px 50px;
    font-family: 'Roboto', sans-serif;
    
}
.header-block__container {
    padding: 70px;
}
.description-title {
    font-family: 'Archangelsk', sans-serif;
    font-weight: 400;
    line-height: 102%;
    font-size: 62px;
    margin-top: 70px;
}
.description-text {
    font-weight: 400;
    line-height: 189%;
    font-size: 18x;
    margin-top: 25px;
    max-width: 849px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 70px;
}
.text-blue {
    font-weight: 700;
    color: #52bedc;
}
.description-images {
    display: grid;
    grid-template-columns: calc(460px/1248px) calc(788px/1248px);
    grid-template-rows: 1fr 1fr;
    gap: 32px;
}
.description-image3 {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.description-image2 {
    grid-column: 1;
}
.form-title {
    font-family: 'Archangelsk', sans-serif;
    font-size: 62px;
    line-height: 102%;
    padding-bottom: 14px;
}
.form-block__header {
    display: flex;
    gap: 32px;
    align-items: flex-end;
}
.form-block__text {
    line-height: 188%;
    font-size: 18px;
    font-weight: 400;
    max-width: 952px;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
}
.about-screen__block {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.about-screen__title {
    font-family: 'Archangelsk', sans-serif;
    font-size: 62px;
    line-height: 102%;
    max-width: 560px;
    margin-bottom: 25px;
}
.about-screen__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 188%;
    max-width: 624px;
    margin-bottom: 25px;
}
.about-screen__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 59px;
}
.about-screen__list-item {
    display: flex;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 117%;
    align-items: center;
}
.about-screen__button {
    font-size: 18px;
    font-weight: 700;
    line-height: 85%;
    color: #F8F200;
    padding: 19px 50px;
    background-color: #000;
    box-sizing: border-box;
}
.about-screen__images-logos {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.about-screen__image-big {
    margin-bottom: 26px;
}
.about-screen {
    background-color: #F8F200;
    padding-top: 70px;
    padding-bottom: 70px;
}
.gradient__black-yellow{
    background-image: url(../images/gradient__black-yellow.jpg);
    height: 70px;
}
.form {
    background-color: #000;
    color: #fff;
    padding-top: 15px;
}
.gradient__white-black {
    background-image: url(../images/gradient__white-black.jpg);
    height: 70px;
    margin-top: 70px;
}
.buy-game__info {
    color: #fff;
}
.buy-game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    background-color: #000;
}
.buy-game__image {
    background-image: url(../images/disk-game.jpg);
}
.buy-game__title {
    font-family: 'Archangelsk', sans-serif;
    font-size: 62px;
    line-height: 102%;
    max-width: 624px;
    margin-top: 70px;
}
.buy-game__set {
    font-family: 'Roboto', sans-serif;
    color: #52bedc;
    font-size: 24px;
    line-height: 100%;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 15px;
}
.buy-game__list {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.buy-game__list-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    font-family: 'Roboto', sans-serif;

}
.buy-game__list-item {
    display: flex;
    gap: 10px;
    align-items: center;
}
.buy-game__choice {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #52bedc;
    margin-top: 70px;
}
.buy-game__platforms-images {
    display: flex;
    row-gap: 48px;
    column-gap: 80px;
    align-items: center;
    max-width: 320px;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 71px;
}
.footer-block__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    font-family: 'Roboto', sans-serif;
}
.footer-block__texts {
    display: flex;
    gap: 32px;
}
.footer-block__images {
    display: flex;
    gap: 32px;
    align-items: center;
}
.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
}
.copyright__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #fff;
    text-align: center;
}
.copyright {
    background-color: #000;
    padding-top: 13px;
    padding-bottom: 13px;
}
@media (max-width: 768px) {
    .header-block__menu {
        flex-direction: column;
    }

    .header-menu__list {
        gap: 28px;
    }
}
@media (max-width: 480px) {
    .header-block__text {
        font-size: 30px;
        height: 207px;
    }
}